.top_bar { min-height:40px; /*
background: #30bed6; /* Old browsers */
    background: -moz-linear-gradient(left, #e21f48 0%, #e21f48 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e21f48 0%,#e21f48 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e21f48 0%,#e21f48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bed6', endColorstr='#38cac9',GradientType=1 ); /* IE6-9 */}

.social { list-style-type:none; margin-bottom:0px; float:left; padding:0px; margin-left:0px;}
.social li { float:left;}
.social li a { padding:0 10px; font-size:13px; line-height:40px; color:#FFF;}

.rightc { list-style-type:none; margin-bottom:0px; float:right;}
.rightc li { margin:0px 10px; font-size:13px; float:left; line-height:40px; color:#FFF;}
.rightc li a {   color:#FFF; }

.navbar-brand img { margin-top:0px; margin-left:0px;}
.navbar-brand {padding:0px;}

.header_image { margin-top:-70px; float:left;}
.nav.navbar-nav.navbar-right span {font-family: 'Open Sans', sans-serif;  font-weight:300; color:#1b6977;}
.navbar-right li a {font-family: 'Open Sans', sans-serif; font-size:16px; color:#1b6977 !important;}

/******************** footer css **********************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}




.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}


.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}
/******************************************************/
/*!* start 'enter' transition *!*/
/*.ng-enter {*/
     /*!* transition on enter for .5s *!*/
     /*transition: .5s;*/

     /*!* start with opacity 0 (invisible) *!*/
     /*opacity: 0;*/

/*}*/
/*.ng-enter  {*/
    /*!* start with content 80% off the right of the page *!*/
    /*right: -100%;*/
/*}*/
/*!* end 'enter' transition *!*/
/*.ng-enter-active {*/
     /*!* end with opacity 1 (fade in) *!*/
    /*transition:  .5s   ;*/
    /*right: 0;*/
 /*}*/

#ID_line_76205{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-color: #013e65;-moz-box-shadow: 0 15px 15px -15px rgba(88, 88, 88, 0.7) inset;-webkit-box-shadow: 0 15px 15px -15px rgba(88, 88, 88, 0.7) inset;box-shadow: 0 15px 15px -15px rgba(88, 88, 88, 0.7) inset;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-image: url(/uploads/utilisateurs/169/575652e4d5309-header-home/575652e4d5309-header-home.jpg);background-repeat: no-repeat;background-position: center center;}
/*#ID_line_background{background-color: #013e65;opacity: 0.35;}.column-id-139722{width: 100%;}*/
#ID_plugin_304821{margin-top: 0px;margin-right: 5px;margin-bottom: 0px;margin-left: 5px;color: #ffffff;text-align: left;font-size: 34px;}
#ID_plugin_304822{margin-top: 0px;margin-bottom: 0px;text-align: left;}
#ID_separator_304822{border-color: #0082d6;border-bottom-style: solid;border-bottom-width: 3px;width: 25%;}
#ID_plugin_304823{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #ffffff;text-align: left;font-size: 24px;}
#ID_plugin_304824{margin-top: 10px;text-align: left;font-size: 18px;}
#ID_plugin_304824 .btn-container{padding-top: 6px;padding-bottom: 6px;padding-left: 20px;padding-right: 20px;background-color: #e21f48;background: linear-gradient(to bottom,  #e21f48 0%,#aa1736 100%);border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304824 .btn-container:hover{background: linear-gradient(to bottom,  #c01a3d 0%,#90142e 100%);}
#ID_plugin_304824 .ico-btn{color: #ffffff;font-size: 18px;}
#ID_plugin_304824 .btn-front{color: #ffffff;font-size: 18px;}
#ID_line_76206{padding-top: 25px; padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76206{opacity: 1;}.column-id-139723{width: 33.1%;}
#ID_plugin_304825{font-size: 65px;}
#ID_icon_304825{color: #e21f48;text-align: center;font-size: 65px;}
#ID_plugin_304826{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: center;font-size: 24px;}
#ID_plugin_304827{color: #5f717d;text-align: center;}.column-id-139724{width: 32.3%;}
#ID_plugin_304828{font-size: 65px;}
#ID_icon_304828{color: #e21f48;text-align: center;font-size: 65px;}
#ID_plugin_304829{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: center;font-size: 24px;}
#ID_plugin_304830{color: #5f717d;text-align: center;}.column-id-139725{width: 34.6%;}
#ID_plugin_304831{font-size: 65px;}
#ID_icon_304831{color: #e21f48;text-align: center;font-size: 65px;}
#ID_plugin_304832{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: center;font-size: 24px;}
#ID_plugin_304833{color: #5f717d;text-align: center;}.column-id-139726{width: 100%;}
#ID_plugin_304834{text-align: center;}
#ID_separator_304834{border-color: #e21f48;border-bottom-style: solid;border-bottom-width: 2px;width: 50%;}.column-id-139727{width: 60%;}
#ID_plugin_304835{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #e21f48;text-align: left;font-size: 24px;}
#ID_plugin_304836{color: #5f717d;text-align: left;}
#ID_plugin_304837{text-align: left;font-size: 16px;}
#ID_plugin_304837 .btn-container{padding-top: 6px;padding-bottom: 6px;padding-left: 20px;padding-right: 20px;background-color: #e21f48;background: linear-gradient(to bottom,  #e21f48 0%,#aa1736 100%);border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304837 .btn-container:hover{background: linear-gradient(to bottom,  #c01a3d 0%,#90142e 100%);}
#ID_plugin_304837 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_304837 .btn-front{color: #ffffff;font-size: 16px;}.column-id-139728{width: 40%;}
#ID_plugin_304838{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: left;font-size: 24px;}
#ID_plugin_304839{text-align: left;font-size: 16px;}
#ID_plugin_304839 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304839 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_304839 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_304839 .btn-front{color: #e21f48;font-size: 16px;}
#ID_plugin_304840{text-align: left;font-size: 16px;}
#ID_plugin_304840 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304840 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_304840 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_304840 .btn-front{color: #e21f48;font-size: 16px;}
#ID_plugin_304841{text-align: left;font-size: 16px;}
#ID_plugin_304841 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304841 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_304841 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_304841 .btn-front{color: #e21f48;font-size: 16px;}
#ID_plugin_304842{text-align: left;font-size: 16px;}
#ID_plugin_304842 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304842 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_304842 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_304842 .btn-front{color: #e21f48;font-size: 16px;}
#ID_plugin_304843{text-align: left;font-size: 16px;}
#ID_plugin_304843 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304843 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_304843 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_304843 .btn-front{color: #e21f48;font-size: 16px;}
#ID_line_76207{padding-top: 25px;padding-bottom: 27px;border-top-width: 1px;border-top-style: solid;border-top-color: #e3e8ea;border-bottom-width: 0;background-color: #f5f5f5;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76207{background-color: #f5f5f5;opacity: 1;}.column-id-139729{width: 100%;}
#ID_plugin_304844{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: center;font-size: 28px;}.column-id-139730{width: 33.333333333333%;}
#ID_plugin_304845{}
#ID_plugin_304845 .img-align-plugin{text-align: left;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;}
#ID_plugin_304845 .img-wb-plugin{border-radius: 0px;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304846{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: left;font-size: 24px;}
#ID_plugin_304847{color: #5f717d;text-align: left;}
#ID_plugin_304848{text-align: left;font-size: 16px;}
#ID_plugin_304848 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304848 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_304848 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_304848 .btn-front{color: #e21f48;font-size: 16px;}.column-id-139731{width: 33.333333333333%;}
#ID_plugin_304849{}
#ID_plugin_304849 .img-align-plugin{text-align: left;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;}
#ID_plugin_304849 .img-wb-plugin{border-radius: 0px;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304850{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: left;font-size: 24px;}
#ID_plugin_304851{color: #5f717d;text-align: left;}
#ID_plugin_304852{text-align: left;font-size: 16px;}
#ID_plugin_304852 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304852 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_304852 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_304852 .btn-front{color: #e21f48;font-size: 16px;}.column-id-139732{width: 33.333333333333%;}
#ID_plugin_304853{}
#ID_plugin_304853 .img-align-plugin{text-align: left;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;}
#ID_plugin_304853 .img-wb-plugin{border-radius: 0px;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304854{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: left;font-size: 24px;}
#ID_plugin_304855{color: #5f717d;text-align: left;}
#ID_plugin_304856{text-align: left;font-size: 16px;}
#ID_plugin_304856 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304856 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_304856 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_304856 .btn-front{color: #e21f48;font-size: 16px;}
#ID_line_76208{padding-top: 40px;padding-bottom: 40px;border-top-width: 1px;border-top-style: solid;border-top-color: #dfe0e0;border-bottom-width: 0;background-color: #ffffff;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-image: url(/uploads/utilisateurs/169/57565aaa708cc-footer-image/57565aaa708cc-footer-image.jpg);background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76208{background-color: #ffffff;opacity: 0.6;}.column-id-139733{width: 100%;}
#ID_plugin_304857{margin-top: 5px;margin-right: 5px;margin-bottom: 29px;margin-left: 5px;color: #354a58;text-align: center;font-size: 28px;}
#ID_plugin_304858{text-align: center;font-size: 20px;}
#ID_plugin_304858 .btn-container{padding-top: 6px;padding-bottom: 6px;padding-left: 20px;padding-right: 20px;background-color: #e21f48;background: linear-gradient(to bottom,  #e21f48 0%,#aa1736 100%);border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_304858 .btn-container:hover{background: linear-gradient(to bottom,  #c01a3d 0%,#90142e 100%);}
#ID_plugin_304858 .ico-btn{color: #ffffff;font-size: 20px;}
#ID_plugin_304858 .btn-front{color: #ffffff;font-size: 20px;}
#ID_line_76295{padding-top: 0px;padding-bottom: 0px;border-top-width: 0;border-bottom-width: 0;background-color: #e21f48;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76295{background-color: #e21f48;opacity: 1;}.column-id-139914{width: 30%;}
#ID_plugin_305235{margin-right: 0px;margin-left: 0px;color: #ffffff;text-align: left;}.column-id-139915{width: 23%;}
#ID_plugin_305236{margin-right: 0px;margin-left: 0px;color: #ffffff;text-align: left;font-size: 15px;}.column-id-139916{width: 23.5%;}
#ID_plugin_305237{margin-right: 0px;margin-left: 0px;color: #ffffff;text-align: left;}.column-id-139917{width: 23.5%;}
#ID_plugin_305238{margin-right: 0px;margin-left: 0px;color: #ffffff;text-align: left;}
#ID_line_76296{padding-top: 0px;padding-bottom: 0px;border-top-width: 0;border-bottom-width: 0;background-color: #353738;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76296{background-color: #353738;opacity: 1;}.column-id-139918{width: 100%;}
#ID_plugin_305239{color: #ffffff;text-align: center;}
#ID_line_76297{padding-top: 0px;padding-bottom: 0px;border-top-width: 0;border-bottom-width: 0;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76297{opacity: 1;}.column-id-139919{width: 27%;}
#ID_plugin_305240{}
#ID_plugin_305240 .img-align-plugin{text-align: left;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;}
#ID_plugin_305240 .img-wb-plugin{border-radius: 0px;border-width: 1px;border-style: none;border-color: #000000;}.column-id-139920{width: 73%;}
#ID_plugin_305241{margin-bottom: 0px;color: #354a58;text-align: right;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;}
#ID_plugin_305241 .menu > li > a{padding: 0 12px 0 12px;}
#ID_plugin_305241 .menu > li:first-child a{padding-left: 0;}
#ID_plugin_305241 .menu .sub-menu{background-color: #595959;}
#ID_plugin_305241 .linkItem span{color: #354a58;}
#ID_plugin_305241 .linkItem .menu-before{border-color: #354a58;}
#ID_plugin_305241 .current-menu-item > a > span{color: #e21f48;background-color: none;border-bottom: none;border-top: 2px solid #e21f48;}
#ID_plugin_305241 .linkItem > a > span:hover{color: #e21f48;background-color: none;border-bottom: none;border-top: 2px solid #e21f48;}
#ID_plugin_305241 span{font-size: 16px;}
#ID_line_76301{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-color: #353738;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76301{background-color: #353738;opacity: 1;}.column-id-139927{width: 33.333333333333%;}
#ID_plugin_305257{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #ffffff;text-align: left;font-size: 24px;}
#ID_plugin_305258{color: #ffffff;text-align: left;}
#ID_plugin_305259{color: #ffffff;text-align: left;font-size: 17px;}
#ID_plugin_305260{color: #ffffff;text-align: left;font-size: 17px;}.column-id-139928{width: 33.333333333333%;}
#ID_plugin_305261{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #ffffff;text-align: left;font-size: 24px;}
#ID_plugin_305262{text-align: left;font-size: 16px;}
#ID_plugin_305262 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305262 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305262 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305262 .btn-front{color: #ffffff;font-size: 16px;}
#ID_plugin_305263{text-align: left;font-size: 16px;}
#ID_plugin_305263 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305263 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305263 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305263 .btn-front{color: #ffffff;font-size: 16px;}
#ID_plugin_305264{text-align: left;font-size: 16px;}
#ID_plugin_305264 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305264 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305264 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305264 .btn-front{color: #ffffff;font-size: 16px;}
#ID_plugin_305265{text-align: left;font-size: 16px;}
#ID_plugin_305265 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305265 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305265 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305265 .btn-front{color: #ffffff;font-size: 16px;}
#ID_plugin_305266{text-align: left;font-size: 16px;}
#ID_plugin_305266 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305266 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305266 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305266 .btn-front{color: #ffffff;font-size: 16px;}.column-id-139929{width: 33.333333333333%;}
#ID_plugin_305267{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #ffffff;text-align: left;font-size: 24px;}
#ID_plugin_305268{color: #ffffff;text-align: left;}
#ID_plugin_305269{text-align: left;font-size: 24px;}
#ID_plugin_305269 .fa{color: #ffffff;}
#ID_line_7cc8d4ab7cea7b49e26f45c80d4e845e{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-repeat: repeat;}
#ID_line_background_7cc8d4ab7cea7b49e26f45c80d4e845e{opacity: 1;}
#ID_line_76200{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-repeat: repeat;}
#ID_line_background_76200{opacity: 1;}
#ID_line_76201{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-repeat: repeat;}
#ID_line_background_76201{opacity: 1;}

#ID_line_76295{padding-top: 0px;padding-bottom: 0px;border-top-width: 0;border-bottom-width: 0;background-color: #e21f48;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76295{background-color: #e21f48;opacity: 1;}.column-id-139914{width: 30%;}
#ID_plugin_305235{margin-right: 0px;margin-left: 0px;color: #ffffff;text-align: left;}.column-id-139915{width: 23%;}
#ID_plugin_305236{margin-right: 0px;margin-left: 0px;color: #ffffff;text-align: left;font-size: 15px;}.column-id-139916{width: 23.5%;}
#ID_plugin_305237{margin-right: 0px;margin-left: 0px;color: #ffffff;text-align: left;}.column-id-139917{width: 23.5%;}
#ID_plugin_305238{margin-right: 0px;margin-left: 0px;color: #ffffff;text-align: left;}
#ID_line_76296{padding-top: 0px;padding-bottom: 0px;border-top-width: 0;border-bottom-width: 0;background-color: #353738;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76296{background-color: #353738;opacity: 1;}.column-id-139918{width: 100%;}
#ID_plugin_305239{color: #ffffff;text-align: center;}
#ID_line_76297{padding-top: 0px;padding-bottom: 0px;border-top-width: 0;border-bottom-width: 0;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76297{opacity: 1;}.column-id-139919{width: 27%;}
#ID_plugin_305240{}
#ID_plugin_305240 .img-align-plugin{text-align: left;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;}
#ID_plugin_305240 .img-wb-plugin{border-radius: 0px;border-width: 1px;border-style: none;border-color: #000000;}.column-id-139920{width: 73%;}
#ID_plugin_305241{margin-bottom: 0px;color: #354a58;text-align: right;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;}
#ID_plugin_305241 .menu > li > a{padding: 0 12px 0 12px;}
#ID_plugin_305241 .menu > li:first-child a{padding-left: 0;}
#ID_plugin_305241 .menu .sub-menu{background-color: #595959;}
#ID_plugin_305241 .linkItem span{color: #354a58;}
#ID_plugin_305241 .linkItem .menu-before{border-color: #354a58;}
#ID_plugin_305241 .current-menu-item > a > span{color: #e21f48;background-color: none;border-bottom: none;border-top: 2px solid #e21f48;}
#ID_plugin_305241 .linkItem > a > span:hover{color: #e21f48;background-color: none;border-bottom: none;border-top: 2px solid #e21f48;}
#ID_plugin_305241 span{font-size: 16px;}
#ID_line_76298{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-color: #013e65;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-image: url(/uploads/utilisateurs/169/57566b1a1c22c-header-pages-internes/57566b1a1c22c-header-pages-internes.jpg);background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76298{background-color: #013e65;opacity: 0.35;}.column-id-139921{width: 100%;}
#ID_plugin_305242{margin-top: 12px;margin-right: 5px;margin-bottom: 12px;margin-left: 5px;color: #ffffff;text-align: center;font-size: 34px;}
#ID_line_76299{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-repeat: repeat;}
#ID_line_background_76299{opacity: 1;}.column-id-139922{width: 100%;}
#ID_plugin_305243{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: center;font-size: 24px;}.column-id-139923{width: 33.333333333333%;}
#ID_plugin_305244{}
#ID_plugin_305244 .img-align-plugin{text-align: left;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;}
#ID_plugin_305244 .img-wb-plugin{border-radius: 0px;border-width: 1px;border-style: none;border-color: #000000;}.column-id-139924{width: 33.333333333333%;}
#ID_plugin_305245{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: left;font-size: 24px;}
#ID_plugin_305246{text-align: left;}
#ID_separator_305246{border-color: #e21f48;border-bottom-style: solid;border-bottom-width: 2px;width: 50%;}
#ID_plugin_305247{color: #5f717d;text-align: left;}.column-id-139925{width: 33.333333333333%;}
#ID_plugin_305248{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: left;font-size: 24px;}
#ID_plugin_305249{text-align: left;}
#ID_separator_305249{border-color: #e21f48;border-bottom-style: solid;border-bottom-width: 2px;width: 50%;}
#ID_plugin_305250{text-align: left;font-size: 16px;}
#ID_plugin_305250 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305250 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_305250 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_305250 .btn-front{color: #e21f48;font-size: 16px;}
#ID_plugin_305251{text-align: left;font-size: 16px;}
#ID_plugin_305251 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305251 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_305251 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_305251 .btn-front{color: #e21f48;font-size: 16px;}
#ID_plugin_305252{text-align: left;font-size: 16px;}
#ID_plugin_305252 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305252 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_305252 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_305252 .btn-front{color: #e21f48;font-size: 16px;}
#ID_plugin_305253{text-align: left;font-size: 16px;}
#ID_plugin_305253 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305253 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_305253 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_305253 .btn-front{color: #e21f48;font-size: 16px;}
#ID_plugin_305254{text-align: left;font-size: 16px;}
#ID_plugin_305254 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305254 .btn-container:hover .btn-front{color: #7c1128;}
#ID_plugin_305254 .ico-btn{color: #e21f48;font-size: 16px;}
#ID_plugin_305254 .btn-front{color: #e21f48;font-size: 16px;}.column-id-139926{width: 100%;}
#ID_plugin_305255{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #354a58;text-align: left;font-size: 24px;}
#ID_plugin_305256{color: #5f717d;text-align: left;}
#ID_line_76301{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-color: #353738;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: center center;}
#ID_line_background_76301{background-color: #353738;opacity: 1;}.column-id-139927{width: 33.333333333333%;}
#ID_plugin_305257{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #ffffff;text-align: left;font-size: 24px;}
#ID_plugin_305258{color: #ffffff;text-align: left;}
#ID_plugin_305259{color: #ffffff;text-align: left;font-size: 17px;}
#ID_plugin_305260{color: #ffffff;text-align: left;font-size: 17px;}.column-id-139928{width: 33.333333333333%;}
#ID_plugin_305261{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #ffffff;text-align: left;font-size: 24px;}
#ID_plugin_305262{text-align: left;font-size: 16px;}
#ID_plugin_305262 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305262 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305262 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305262 .btn-front{color: #ffffff;font-size: 16px;}
#ID_plugin_305263{text-align: left;font-size: 16px;}
#ID_plugin_305263 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305263 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305263 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305263 .btn-front{color: #ffffff;font-size: 16px;}
#ID_plugin_305264{text-align: left;font-size: 16px;}
#ID_plugin_305264 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305264 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305264 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305264 .btn-front{color: #ffffff;font-size: 16px;}
#ID_plugin_305265{text-align: left;font-size: 16px;}
#ID_plugin_305265 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305265 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305265 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305265 .btn-front{color: #ffffff;font-size: 16px;}
#ID_plugin_305266{text-align: left;font-size: 16px;}
#ID_plugin_305266 .btn-container{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;background: transparent;border-width: 1px;border-style: none;border-color: #000000;}
#ID_plugin_305266 .btn-container:hover .btn-front{color: #8c8c8c;}
#ID_plugin_305266 .ico-btn{color: #ffffff;font-size: 16px;}
#ID_plugin_305266 .btn-front{color: #ffffff;font-size: 16px;}.column-id-139929{width: 33.333333333333%;}
#ID_plugin_305267{margin-top: 5px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;color: #ffffff;text-align: left;font-size: 24px;}
#ID_plugin_305268{color: #ffffff;text-align: left;}
#ID_plugin_305269{text-align: left;font-size: 24px;}
#ID_plugin_305269 .fa{color: #ffffff;}
#ID_line_93be19c49014b7ec785cdeb62c59837b{padding-top: 25px;padding-bottom: 25px;border-top-width: 0;border-bottom-width: 0;background-repeat: repeat;}
#ID_line_background_93be19c49014b7ec785cdeb62c59837b{opacity: 1;}