<div ui-view="header"></div>
<div class="headline " id="ID_line_76298">
    <div class="background" id="ID_line_background_76298"  ng-style="stApropos"></div>
    <div class="container ">
        <div class="container-directive">
            <div class="row sortable sortable-container ">
                <div class="container-sortable float-left fullwidth">
                    <div id="wrapper-73822" class="wrapper float-left">
                        <div class="fullwidth float-left">
                            <div class="float-left column-id-139921 col-front liaisons-sortable tp-line col container-column">
                                <div id="liaison-305242" class="liaison-container columns-padding col-xs-12">
                                    <div class="portlet margin-titre">
                                        <div>
                                            <h1 class="margin-auto" id="ID_plugin_305242">
                                                {{aproposResult.pageId.page.header.title}}
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="headline " id="ID_line_76299">
    <div class="background" id="ID_line_background_76299"></div>
    <div class="container ">
        <div class="container-directive">
        <div class="row sortable sortable-container ">
            <div class="container-sortable float-left fullwidth">
                <div id="wrapper-73823" class="wrapper float-left">
                    <div class="fullwidth float-left">
                        <div class="float-left column-id-139922 col-front liaisons-sortable tp-line col container-column">
                            <div id="liaison-305243" class="liaison-container columns-padding col-xs-12">
                                <div class="portlet margin-titre">
                                    <div>
                                        <h3 class="margin-auto" id="ID_plugin_305243">
                                            {{aproposResult.pageId.page.header.texteLong}}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-sortable float-left fullwidth" >
                <div id="wrapper-73824" class="wrapper float-left" ng-repeat="aResult in aproposResult.pageId.page.Sections" >
                    <div class="fullwidth float-left" ng-repeat="apropos in aResult.columns ">
                        <div ng-if="apropos.image" class="float-left column-id-139923 col-front liaisons-sortable tp-line col container-column">
                            <div id="liaison-305244" class="liaison-container columns-padding col-xs-12">
                                <div class="portlet margin-image">
                                    <div id="ID_plugin_305244" class="margin-auto container-img">
                                        <div class="img-align-plugin css-property-item img-container-4873408">
                                            <img alt="" class="img-wb-plugin img-responsive" src="{{apropos.image}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="float-left column-id-139924 col-front liaisons-sortable tp-line col container-column">
                            <div id="liaison-305245" class="liaison-container columns-padding col-xs-12">
                                <div class="portlet margin-titre">
                                    <div>
                                        <h3 class="margin-auto" id="ID_plugin_305245">
                                            {{apropos.title}}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div id="liaison-305246" class="liaison-container columns-padding col-xs-12">
                                <div class="portlet margin-separateur">
                                    <div id="ID_plugin_305246" class="margin-auto home_separator_container">
                                        <div id="ID_separator_305246" class="css-property-div home_separator"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="liaison-305247" class="liaison-container columns-padding col-xs-12">
                                <div class="portlet margin-contenu">
                                    <div id="ID_plugin_305247" class="margin-auto padding-auto">
                                        <p>
                                           {{apropos.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="apropos.col.desc" class="float-left column-id-139925 col-front liaisons-sortable tp-line col container-column">
                            <div id="liaison-305248" class="liaison-container columns-padding col-xs-12">
                                <div class="portlet margin-titre">
                                    <div>
                                        <h3 class="margin-auto" id="ID_plugin_305248">
                                            {{apropos.col.title}}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div id="liaison-305249" class="liaison-container columns-padding col-xs-12">
                                <div class="portlet margin-separateur">
                                    <div id="ID_plugin_305249" class="margin-auto home_separator_container">
                                        <div id="ID_separator_305249" class="css-property-div home_separator"></div>
                                    </div>
                                </div>
                            </div>
                            <div  ng-repeat="textes in apropos.col.desc" id="liaison-305250" class="liaison-container columns-padding col-xs-12">
                                <div class="portlet margin-bouton">
                                    <div id="ID_plugin_305250" class="container-woobibtn margin-auto">
                                        <a ui-sref="a-propos">
                                            <div class="btn-front-size css-property-div btn-container square">
                                                <!-- title="Ins&eacute;rer votre texte ici" -->
                                                <i class="ico-btn spectrum-305250 glyphicon glyphicon-ok"></i>
                                                <div class="btn-front met_bgcolor css-property-item spectrum-305250" title="">
                                                    {{textes.texte}}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="container-sortable float-left fullwidth">-->
                <!--<div id="wrapper-73825" class="wrapper float-left">-->
                    <!--<div class="fullwidth float-left">-->
                        <!--<div class="float-left column-id-139926 col-front liaisons-sortable tp-line col container-column">-->
                            <!--<div id="liaison-305255" class="liaison-container columns-padding col-xs-12">-->
                                <!--<div class="portlet margin-titre">-->
                                    <!--<div>-->
                                        <!--<h3 class="margin-auto" id="ID_plugin_305255">-->
                                            <!--Une passion pour les entreprises-->
                                        <!--</h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div id="liaison-305256" class="liaison-container columns-padding col-xs-12">-->
                                <!--<div class="portlet margin-contenu">-->
                                    <!--<div id="ID_plugin_305256" class="margin-auto padding-auto">-->
                                        <!--<p>-->
                                            <!--Cliquez ici pour paramétrer le texte. Double cliquez et utilisez la barre de menu au dessus pour paramétrer votre texte. Cliquez sur le bloc de texte pour paramétrer celui-ci grâce à la palette de paramétrage. Editez l'alignement, la couleur, la taille, les marges, etc... Cliquez ici pour paramétrer le texte. Double cliquez et utilisez la barre de menu au dessus pour paramétrer votre texte.<br><br>-->
                                            <!--Cliquez ici pour paramétrer le texte. Double cliquez et utilisez la barre de menu au dessus pour paramétrer votre texte. Cliquez sur le bloc de texte pour paramétrer celui-ci grâce à la palette de paramétrage. Editez l'alignement, la couleur, la taille, les marges, etc...-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    </div>
</div>
<div ui-view="footer"></div>