<div ng-controller="homeController">
    <div class="headline header" id="ID_line_76295">
        <div class="background" id="ID_line_background_76295"></div>
        <div class="container ">
            <div class="container-directive">
                <div class="row sortable sortable-container header">
                    <div class="container-sortable float-left fullwidth">
                        <div id="wrapper-73819" class="wrapper float-left">
                            <div class="fullwidth float-left">
                                <div class="float-left column-id-139914 col-front liaisons-sortable tp-line col container-column">
                                    <div id="liaison-305235" class="liaison-container columns-padding col-xs-12"><div class="portlet margin-contenu">
                                        <div id="ID_plugin_305235" class="margin-auto padding-auto">
                                            <p>{{headerNavbar.title}}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="float-left column-id-139915 col-front liaisons-sortable tp-line col container-column">
                                    <div id="liaison-305236" class="liaison-container columns-padding col-xs-12">
                                        <div class="portlet margin-contenu"><div id="ID_plugin_305236" class="margin-auto padding-auto">
                                            <p><strong>Vous avez des questions :</strong></p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-left column-id-139916 col-front liaisons-sortable tp-line col container-column">
                                    <div id="liaison-305237" class="liaison-container columns-padding col-xs-12">
                                        <div class="portlet margin-contenu">
                                            <div id="ID_plugin_305237" class="margin-auto padding-auto">
                                                <p><span class="align-icon fa fa-phone2"></span>&nbsp;{{headerNavbar.telephone}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-left column-id-139917 col-front liaisons-sortable tp-line col container-column">
                                    <div id="liaison-305238" class="liaison-container columns-padding col-xs-12">
                                        <div class="portlet margin-contenu">
                                            <div id="ID_plugin_305238" class="margin-auto padding-auto">
                                                <p><span class="align-icon fa fa-at-sign"></span>&nbsp;{{headerNavbar.email}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="headline " id="ID_line_76297">
        <div class="background" id="ID_line_background_76297"></div>
        <div class="container ">
            <div class="container-directive">
                <div class="row sortable sortable-container ">
                    <div class="container-sortable float-left fullwidth">
                        <div id="wrapper-73821" class="wrapper float-left">
                            <div class="fullwidth float-left">
                                <div class="float-left column-id-139919 col-front liaisons-sortable tp-line col container-column">
                                    <div id="liaison-305240" class="liaison-container columns-padding col-xs-12">
                                        <div class="portlet margin-image">
                                            <div id="ID_plugin_305240" class="margin-auto container-img">
                                                <div class="img-align-plugin css-property-item img-container-4873365">
                                                    <img alt="log_albasoft" class="img-wb-plugin " src="img/logo.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-left column-id-139920 col-front liaisons-sortable tp-line col container-column">
                                    <div id="liaison-305241" class="liaison-container columns-padding col-xs-12">
                                        <div class="portlet margin-menu">
                                            <!-- START MAIN MENU-->
                                            <nav class="module-menu margin-auto style-4" id="ID_plugin_305241">
                                                <ul class="menu">
                                                    <li ng-class="acceuil">
                                                        <span class="menu-before"></span><a ui-sref="acceuil" title="Accueil"><span class="css-property-item">{{headerNavbar.menu.entry1}}</span></a>
                                                    </li>
                                                    <li ng-class="apropos">
                                                        <span class="menu-before"></span><a ui-sref="a-propos" title="A propos"><span class="css-property-item">{{headerNavbar.menu.entry2}}</span></a>
                                                    </li>
                                                    <li ng-class="service"><span class="menu-before">
                                                        </span><a ui-sref="nos-services" title="Nos services"><span class="css-property-item">{{headerNavbar.menu.entry3}}</span></a>
                                                    </li>
                                                    <li ng-class="temoignage"><span class="menu-before">
                                                        </span><a ui-sref="temoignages" title="Témoignages"><span class="css-property-item">{{headerNavbar.menu.entry4}}</span></a>
                                                    </li>
                                                    <li ng-class="contact">
                                                        <span class="menu-before"></span><a ui-sref="contact" title="Contact"><span class="css-property-item">{{headerNavbar.menu.entry5}}</span></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                            <!-- END MAIN MENU-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
